/* Import alien fonts */
@font-face { font-family: Minecraft; src: url('/src/fonts/Minecraft.ttf'); } 
@font-face { font-family: Minecraft2; src: url('/src/fonts/easvhs.ttf'); } 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  cursor: url(../images/CISC-Paw-Print.png), auto !important;
}
#home-page{
  background-color: #F2EDDA;
  z-index: auto;
}

.heading{
  font-family: 'Minecraft';
  color: #F4A2A2;
  font-size: 30px;
  text-align: center;
}

.homepage-body{
  background-color: #F2EDDA;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5%;
}

.homepage-body .homepage-quiz-section{
  flex: 1;
  padding: 20px;
}

.homepage-quiz-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 5vw 0px 5vw;
}

.homepage-box{
  background-color: #FF914D;
  box-shadow: 3px 5px 10px rgba(191, 80, 0, 0.801);
  padding: 10%;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 900px){
  .homepage-body{
    background-color: #F2EDDA;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;
  }
  .homepage-buttons{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 2vh;
    margin-left: calc(25% - 2vw);
    margin-right: calc(0.5% - 2vw);
  }

  .paw-group{
    display: none;
  }
}

.image-easy{
  content: '';
  display: block;
  width: 25%;
  height: auto;
  position: absolute;
  bottom: -25px;
  right: -60px;
  z-index: 1;
}

.image-hard{
  content: '';
  display: block;
  width: 25%;
  height: auto;
  position: absolute;
  bottom: -40px;
  right: -70px;
  z-index: 1;
}

.homepage-buttons{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 200px;
  margin-left: 35%;
  margin-bottom: 45px;
  margin-top: 25px;
}
.homepage-buttons:hover {
  background-color:#FAC264;
}
.homepage-buttons:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.paw-group{
  position:absolute;
  left: -10%;
  top: 50%;
  z-index: -0.9;
}


/* create the paw prints */
.pad {
  width: 25px;
  height: 27px;
  background-color: #654321;
  -webkit-border-radius: 63px 63px 63px 63px / 108px     108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%         40%  40%;
  display: block;
  position: absolute;
  opacity: 2;
}       
.large {
 width: 70px;
 height: 80px;
 transform: rotate(80deg);
 left: 100px;
 top: 50px;
} 
.small-1 {
 transform: rotate(50deg);
 left: 145px;
 top: 28px;
}
.small-2 {
 transform: rotate(65deg);
 left: 174px;
 top: 50px;
}  
.small-3 {
 transform: rotate(98deg);
 position: absolute;
 left: 178px;
 top: 87px;
}
.small-4 {
 transform: rotate(140deg);
 position: absolute;
 left: 158px;
 top: 117px;
}
  
/* position and animate */ 
.paw-print-1 {
opacity: 0;
position: absolute;
left: 75px;
top: 300px;
transform: rotate(-40deg);
-webkit-animation: walk 3s linear infinite;
animation: /*keyframe*/walk /*duration*/3s /*transition*/linear /*repeat*/infinite;
}
.paw-print-2 {
opacity: 0;
position: absolute;
left: 275px;
top: 280px;
transform: rotate(-5deg); 
-webkit-animation: walk 3s linear infinite 0.25s;
animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-3 {
opacity: 0;
position: absolute;
left: 375px;
top: 130px;
transform: rotate(-10deg); 
-webkit-animation: walk 3s linear infinite 0.5s;
animation: walk 3s linear infinite 0.5s;
}     
.paw-print-4 {
opacity: 0;
position: absolute;
left: 575px;
top: 280px;
transform: rotate(-20deg); 
-webkit-animation: walk 3s linear infinite 0.75s;
animation: walk 3s linear infinite 0.75s;
}    
.paw-print-5 {
opacity: 0;
position: absolute;
left: 750px;
top: 50px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1s;
animation: walk 3s linear infinite 1s;
}   
.paw-print-6 {
opacity: 0;
position: absolute;
left: 900px;
top: 200px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1.25s;
animation: walk 3s linear infinite 1.25s;
}   
.paw-print-7 {
opacity: 0;
position: absolute;
left: 1175px;
top: 50px;
transform: rotate(20deg); 
-webkit-animation: walk 3s linear infinite 1.5s;
animation: walk 3s linear infinite 1.5s;
}   
.paw-print-8 {
opacity: 0;
position: absolute;
left: 1300px;
top: 250px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1.75s;
animation: walk 3s linear infinite 1.75s;
}
.paw-print-9 {
  opacity: 0;
  position: absolute;
  left: 1475px;
  top: 50px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 2s;
  animation: walk 3s linear infinite 2s;
}
.paw-print-10 {
  opacity: 0;
  position: absolute;
  left: 1650px;
  top: 250px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 2.25s;
  animation: walk 3s linear infinite 2.25s;
}
  
/* walking effect animation keyframes */
  
@-webkit-keyframes walk {
25%  {opacity: 0.2;}
100% {opacity: 0;}
}
  
@keyframes walk {
/* appear */
25%  {opacity: 0.2;}
/* disappear */
100% {opacity: 0;}
}

