.progress-container{
    height: 50%;
}

.progress-bar-comp{
    margin-top: 25px;
    background-color: #F2EDDA;
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 30%;
    border-radius: 10px;
}
  
.progress-bar-active-comp{
    background-color: #FAC264;
    border-radius: 10px;
}

.sr-only{
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

.progress-asset-mouse{
    float: right;
    width: 50px;
    animation: slideAnimation1 1s forwards; 
}

.progress-asset-cat{
    margin-top: 3px;
    width: 100px;
    margin-left: 5px; 
}

@keyframes slideAnimation1 {
    from {
      left: 0;
    }
    to {
      left: 25%; 
    }
  }
  
  @keyframes slideAnimation2 {
    from {
      left: 25%;
    }
    to {
      left: 50%; 
    }
  }
  
  @keyframes slideAnimation3 {
    from {
      left: 50%;
    }
    to {
      left: 75%; 
    }
  }