@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&display=swap');

.AboutMe{
  background-color: whitesmoke;
  font-family:'Diphylleia', serif;
}

/* Heading Features */
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
}

.image{
  max-width: calc(50% - 25vmin);
  margin-bottom: 5px;
  margin-top: 5px;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 3px;
  color: white;
}

nav{
  display: flex;
  flex-direction:row;
  text-align: center;
  justify-content: space-around;
}

.nav-btn{
  padding: 2vh;
  margin: 2px;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
 
/* About Me Features */

.text-image-AboutMe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15%;
    margin-left: 15%;
}

.team-text{
    display: flex;
    flex-direction: column;
    background-color: rgba(165, 165, 141, 0.5);
    width:40%;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right:10px;
    box-shadow: 6px 8px 10px grey;
    flex: 1;
    padding: 20px;

}

.team-image{
    display: flex;
    flex-wrap: wrap;
    width: 5vh;
    margin-bottom: 10px;
    margin-right: 15px;
    box-shadow: 3px 5px 10px grey;
    flex: 1; /* Take remaining space */
    padding: 20px;
}

img{
    max-width: 100%; /* Ensure image doesn't overflow container */
    height: auto; /* Maintain aspect ratio */
}



/* Footer Features */
#logo-pic{
  max-width: calc(20vmin - 5%);
  margin-right: calc(25vw - 5%);
  margin-left : calc(10vw - 5%);
  margin-bottom: 5px;
  margin-top: 5px;
  
}

.image-structure{
  width: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo{
  width: 75px;
  border-radius: 50%;
}

.footer_decorative{
  display: flex;
}

#logo-text-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6px;
}

.contact-info-footer{
  width:100%;
  text-align:right;
  margin-top: 25px;
  margin-right: 10px;
  
}