/* Import alien fonts */
@font-face { font-family: Minecraft; src: url('/src/fonts/Minecraft.ttf'); } 
@font-face { font-family: Minecraft2; src: url('/src/fonts/easvhs.ttf'); } 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.AboutMe-body{
  background-color: #F2EDDA;
}

.AboutMe-container{
  margin-left: 15%;
  margin-right: 15%;
}

.AboutMe-heading{
  font-family: 'Minecraft';
  color: #F4A2A2;
  margin-left: 20px;
}

#kitty-header{
  width:15%;
  transform: rotate(-12deg);
  position: absolute;
  top: 10%;
  left:22%;
}

.AboutMe-header{
  display: flex;
  flex-direction: row;
}

.AboutMe-text{
  background-color: #FF914D;
  border-radius: 20px;
  padding: 15px;
  margin-left: 5px;
  z-index: 100;
}

/* Three columns side by side */
.column {
  float: left;
  width: 23%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-left: 20px;
  z-index: 50;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 910px) {
  .column {
    width: 75%;
    display: block;
    margin-left:15%;
  }

  .paw-group{
    display: none;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FAC264;
  color: black;
}

/* Some left and right padding inside the container */
.container-card {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title-position {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.linkin-logo{
  width: 50px;
  padding-bottom: 10px;
}

.contact-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Cat Paws CSS */

.paw-group{
  position:absolute;
  left: -10%;
  top: 45%;
  z-index: -0.9;
}

/* create the paw prints */
.pad {
  width: 25px;
  height: 27px;
  background-color: #654321;
  -webkit-border-radius: 63px 63px 63px 63px / 108px     108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%         40%  40%;
  display: block;
  position: absolute;
  opacity: 2;
}       
.large {
 width: 70px;
 height: 80px;
 transform: rotate(80deg);
 left: 100px;
 top: 50px;
} 
.small-1 {
 transform: rotate(50deg);
 left: 145px;
 top: 28px;
}
.small-2 {
 transform: rotate(65deg);
 left: 174px;
 top: 50px;
}  
.small-3 {
 transform: rotate(98deg);
 position: absolute;
 left: 178px;
 top: 87px;
}
.small-4 {
 transform: rotate(140deg);
 position: absolute;
 left: 158px;
 top: 117px;
}
  
/* position and animate */ 
.paw-print-1 {
opacity: 0;
position: absolute;
left: 75px;
top: 300px;
transform: rotate(-40deg);
-webkit-animation: walk 3s linear infinite;
animation: /*keyframe*/walk /*duration*/3s /*transition*/linear /*repeat*/infinite;
}
.paw-print-2 {
opacity: 0;
position: absolute;
left: 275px;
top: 280px;
transform: rotate(-5deg); 
-webkit-animation: walk 3s linear infinite 0.25s;
animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-3 {
opacity: 0;
position: absolute;
left: 375px;
top: 130px;
transform: rotate(-10deg); 
-webkit-animation: walk 3s linear infinite 0.5s;
animation: walk 3s linear infinite 0.5s;
}     
.paw-print-4 {
opacity: 0;
position: absolute;
left: 575px;
top: 280px;
transform: rotate(-20deg); 
-webkit-animation: walk 3s linear infinite 0.75s;
animation: walk 3s linear infinite 0.75s;
}    
.paw-print-5 {
opacity: 0;
position: absolute;
left: 750px;
top: 50px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1s;
animation: walk 3s linear infinite 1s;
}   
.paw-print-6 {
opacity: 0;
position: absolute;
left: 900px;
top: 200px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1.25s;
animation: walk 3s linear infinite 1.25s;
}   
.paw-print-7 {
opacity: 0;
position: absolute;
left: 1175px;
top: 50px;
transform: rotate(20deg); 
-webkit-animation: walk 3s linear infinite 1.5s;
animation: walk 3s linear infinite 1.5s;
}   
.paw-print-8 {
opacity: 0;
position: absolute;
left: 1300px;
top: 250px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1.75s;
animation: walk 3s linear infinite 1.75s;
}
.paw-print-9 {
  opacity: 0;
  position: absolute;
  left: 1475px;
  top: 50px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 2s;
  animation: walk 3s linear infinite 2s;
}
.paw-print-10 {
  opacity: 0;
  position: absolute;
  left: 1650px;
  top: 250px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 2.25s;
  animation: walk 3s linear infinite 2.25s;
}
  
/* walking effect animation keyframes */
  
@-webkit-keyframes walk {
25%  {opacity: 0.2;}
100% {opacity: 0;}
}
  
@keyframes walk {
/* appear */
25%  {opacity: 0.2;}
/* disappear */
100% {opacity: 0;}
}

