.App {
  text-align: center;
}

.App-logo {
  height: 40%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  display: flex;
  flex-direction:row;
  text-align: center;
  justify-content: space-around;
}

button{
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.homepage_body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 900px){
  .homepage_body{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .homepage_quiz_section{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 7%;
  }

  .homepage_box{
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    text-align: center;
    padding: 5%;
  }
}

.homepage_quiz_section{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-right: 10%;
  justify-content: space-evenly;

}

.homepage_box{
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  text-align: center;
  padding: 45%;
  width: 200px;
}




.App-link {
  color: #61dafb;
}

.API-footer{
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
