
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
}

.image{
  max-width: calc(50% - 25vmin);
  margin-bottom: 5px;
  margin-top: 5px;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 3px;
  color: white;
}

nav{
  display: flex;
  flex-direction:row;
  text-align: center;
  justify-content: space-around;
}

.nav-btn{
  padding: 2vh;
  margin: 2px;
  text-align: center;
}

.homepage_buttons{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
  box-shadow: 3px 5px 10px grey;
}

.homepage_body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.homepage_quiz_section{
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-right: 10vw;
  margin-left: 10vw;
  justify-content: space-evenly;

}

.homepage_box{
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  text-align: center;
  padding: 5vw;
  width: 20vw;
  box-shadow: 3px 5px 10px grey;
  color: whitesmoke;
}

@media screen and (max-width: 910px){
  .homepage_body{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .homepage_quiz_section{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: calc(20% - 2vw);
    margin-right: calc(20% - 2vw);
  }

  .homepage_box{
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    text-align: center;
    width: 25vw;
    padding: 20vw;
    box-shadow: 3px 5px 10px grey;
  }

  .homepage_buttons{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 2vh;
    margin-left: calc(20% - 2vw);
    margin-right: calc(20% - 2vw);
  }

  .contact-info-footer{
    text-align: end; 
    margin-left: calc(35% - 20vw)
  }

}

#logo-pic{
  max-width: calc(20vmin - 5%);
  margin-right: calc(25vw - 5%);
  margin-left : calc(10vw - 5%);
  margin-bottom: 5px;
  margin-top: 5px;
  
}

.image-structure{
  width: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo{
  width: 75px;
  border-radius: 50%;
}

.footer_decorative{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  
}

#logo-text-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

}

.contact-info-footer{
  text-align: end; 
  margin-left: calc(80% - 2vw)
}
