.App {
  text-align: center;
}

.App-logo {
  height: 40%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  display: flex;
  flex-direction:row;
  text-align: justify;
  padding-left: 8px;
}

button{
  padding: 5px;
  margin: 5px;
  text-align: justify;
}

.homepage_body{
  display: flex;
  flex-direction: row;
}

.homepage_quiz_section{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5%;

}

.homepage_box{
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  padding: 20px;
}




.App-link {
  color: #61dafb;
}

.API-footer{
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
