/* Import alien fonts */
@font-face { font-family: Minecraft; src: url('fonts/Minecraft.ttf') format('truetype'); } 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  background-color: #F2EDDA;
}

.questionnaire-container {
    padding-left: 9vw;
    padding-top: 5vw;
    padding-right: 9vw;
    margin-top: -65px;
    display: flex;
    flex-direction: column;
  }
.questionnaire-heading {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Minecraft";
    font-weight: 700;
    font-style: normal;
    color:#000;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
  }
.question {
    margin-bottom: 35px;
  }
.question-text {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #000;
    text-align: left !important;
  }
.answer-options {
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }
  
.answer-option {
    margin-bottom: 2.5px;
    font-size: 25px !important;
    font-weight: 300;
  }
  
.radio-input {
    margin-right: 10px;
  }
  
  .get-submit-button {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .submit-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    max-width: 200px;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 40px;
  }
 .submit-button:hover {
    background-color:#FAC264;
  }

.previous-button,
.next-button{
  cursor: pointer;
  width: 80px;
}
.next-button{
  content: url(images/cat-paw-button.png);
  position: absolute;
  right: 3%;
  bottom: -15%;
}

.previous-button{
  content: url(images/cat-paw-button.png);
  position: absolute;
  left: 3%;
  bottom: -15%;
}

@media screen and (max-width: 800px) {
  .next-button{
    bottom: 0%;
  }

  .previous-button{
    bottom: 0%;
  }
  .submit-button{
    margin-left: 200px;
    max-width: 50px !important;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .next-button{
    margin-bottom: 40%;
  }

  .previous-button{
    bottom: 28%;
    margin-left: -15px;
  }
}

.next-button:hover,
.previous-button:hover {
  color: black;
  /*background-color: #1A1A1A;*/
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.answer-option{
  display: inline-flex;
  appearance: none;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid #FFA3B1;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: normal;
  margin: 3;
  min-height: 80px;
  min-width: 0;
  outline: none;
  padding: 24px 24px;
  text-align: center !important;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  box-shadow: none;
  border-radius: 15px;
}

.answer-option:hover{
  color: white;
  /*background-color: #1A1A1A;*/
  background-color: #f5afaf;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.answer-option.selected {
  opacity: 0.9; 
  background-color: #f5afaf; 
  transition: background-color 0.5s ease;
  outline: 3px solid -#f5afaf;
  color: white; 
}

.cat-logo {
  content: url('images/catBasicQuestion.png');
  max-width: 400px;
  position: absolute;
  align-items: center;
  margin-left: 20% !important;  /* 50% of your logo width */
  display: block;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 3;
  margin-top: -200px;
}

.cat-header-basic{
  position: sticky;
  margin-bottom: 60px;
  margin-top: -100px;
  max-width: 40%;
  display: block; 
  margin: 0 auto; 
  z-index: 5;
}
 
.simple-progress-bar{
  position: center;
  margin-left: 35%;
  margin-top: 3px;
  background: linear-gradient(to right, #68BFD6, #bcdfe8);
  border-radius: 10px;
  transition: width 0.5s ease;
}
#chatbox-container{
  margin-top: 500px;
  background-color: #000 !important;
}
.question-jump-buttons{
  margin-top: 100px;
  margin-left: -5px;
  display: flex;
  margin-bottom: 15px;
  max-width: 500px;
  padding: 18px 16px;
  border: #FAC264;
  border-style: solid;
  border-radius: 45px;
  position: sticky;
  z-index: 3;
}

#each-jump {
  background-color:#FAC264;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 45px;
  box-sizing: border-box;
  color:#FFFFFF;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  margin-left: 20px;
}

#each-jump:active,
#each-jump:hover,
#each-jump:focus {
  outline: 0;
}


#each-jump:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}
.question-jump-button.answer{
  background-color: #D33A2C;
}
#each-jump:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

#each-jump:active:hover,
#each-jump:focus:hover,
#each-jump:focus {
  background-color:#FAA4A4;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}
@media screen and (max-width: 800px) {
  .question-jump-buttons {
    padding: 8px 16px;
    max-width: 390px;
    margin-top: 120px;
    margin-left: 100px;
  }
  .music-and-jump{
    display: flex;
    flex-direction: column;
  }
  #music-basic{
    margin-top: 15px !important;
    margin-left: 200px !important;
  }
}
@media screen and (max-width: 800px) {
  .cat-header-basic {
      min-width: 500px;
  }
}
@media screen and (max-width: 800px) {
  #each-jump {
    margin-left: 10px;
    padding: 0px 10px;
    max-width: 40px;
    font-size: 14px;
    padding-right: 15px;
    font-weight: 600;
  }
}
@media screen and (max-width: 800px) {
  .question-text {
    font-size: 20px;
    text-align: center !important;
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .answer-option {
    font-size: 16px !important;
    padding: 2 12px;
    max-width: 500px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  #each-jump,
  .question-jump-buttons {
    margin-left: 5px;
    padding: 6px 12px;
    font-size: 0.9rem;
    margin-top: 300px;
  }
}
.music-and-jump{
  display: flex;
  margin-top: -70px;
  margin-right: 10px;
}
#music-basic{
  position: sticky;
  margin-left: 52%;
  z-index: 3;
  margin-top: 130px;
}