/* Import alien fonts */
@font-face { font-family: Minecraft; src: url('fonts/Minecraft.ttf') format('truetype'); } 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  background-color: #F2EDDA;
}
.questionnaire-container {
    padding-left: 9vw;
    padding-top: 5vw;
    padding-right: 9vw;
    margin-top: -150px;
  }
.questionnaire-heading {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Minecraft";
    font-weight: 700;
    font-style: normal;
    color:#000;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
  }
.question {
    margin-bottom: 35px;
  }
.question-text {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #000;
    text-align: left !important;
  }
.answer-options {
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }
  
.answer-option {
    margin-bottom: 2.5px;
    font-size: 25px !important;
    font-weight: 300;
  }
  
.radio-input {
    margin-right: 10px;
  }
  
  .submit-button{
    background-color: #fbeee0;
    /*background-color: #fbeee0;*/
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 200px;
    margin-left: 45%;
    margin-bottom: 45px;
  }
  .submit-button:hover {
    background-color:#FAC264;
  }
.submit-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
.previous-button,
.next-button{
  cursor: pointer;
  width: 80px;
}
.next-button{
  content: url(images/cat-paw-button.png);
  position: absolute;
  right: 3%;
  bottom: 15%;
}

.previous-button{
  content: url(images/cat-paw-button.png);
  position: absolute;
  left: 3%;
  bottom: 15%;
}

@media screen and (max-width: 800px) {
  .next-button{
    bottom: 0;
  }

  .previous-button{
    bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .next-button{
    bottom: 3%;
  }

  .previous-button{
    bottom: 3%;
  }
}

.next-button:hover,
.previous-button:hover {
  color: black;
  /*background-color: #1A1A1A;*/
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.answer-option{
  display: inline-flex;
  appearance: none;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid #FFA3B1;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: normal;
  margin: 3;
  min-height: 80px;
  min-width: 0;
  outline: none;
  padding: 24px 24px;
  text-align: center !important;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  box-shadow: none;
  border-radius: 15px;
}

.answer-option:hover{
  color: white;
  /*background-color: #1A1A1A;*/
  background-color: #f5afaf;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.answer-option.selected {
  opacity: 0.9; 
  background-color: #f5afaf; 
  transition: background-color 0.5s ease;
  outline: 3px solid -#f5afaf;
  color: white; 
}

.cat-logo {
  content: url('images/catBasicQuestion.png');
  max-width: 400px;
  position: absolute;
  align-items: center;
  margin-left: 20% !important;  /* 50% of your logo width */
  display: block;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 3;
  margin-top: -200px;
}

.cat-header-basic{
  margin-bottom: 60px;
  margin-top: -100px;
  max-width: 40%;
  display: block; 
  margin: 0 auto; 

}

