@font-face { font-family: Minecraft; src: url('/src/fonts/Minecraft.ttf'); } 
@font-face { font-family: Minecraft2; src: url('/src/fonts/easvhs.ttf'); } 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar.bg-body-tertiary {
    background-color: #68BFD6 !important;
    padding: 18px 0 !important;
  }
  
.navbar-brand {
    color: #fff !important;
    font-family: 'Minecraft2';
    font-size: calc(20px + 2vmin);
    font-style: normal;
    position: absolute;
    top: 55%;
    left: 12%;
    transform: translate(-50%, -50%);
    margin-left: 3vw;
  }
  
.navbar-nav .nav-link {
    color: black !important;
    font-size: 18px;
    opacity: 0.75;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 300;
    font-style: bold;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5px;
  }

  .nav-link{
    font-style: bold;
    background-color: #FAC264;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    padding: 20;
  }

  .nav-link:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .navbar-nav{
    position:absolute;
    margin-left: 26%;
  }

  #container{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    opacity: 1;
    font-weight: 400;
  }
  
  .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid white;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
  }
  
  .navbar-text button span {
    z-index: 1;
  }
  
  .navbar-text button:hover {
    color: #121212;
  }
  
  .navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .navbar-toggler{
    background-color: #ffff;
    border-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
  }
  .navbar-dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px; /* Adjust as needed */
    background-color: #000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-10px);
    opacity: 0;
    z-index: 1000;

  }

  .logo{
    display: flex;
    flex-direction: row;
    width: 25%;
    /*margin-right: calc(25vw - 5%);*/
    margin-left : 80%;
    height: auto;
    /*text-align:right;*/
  }

  
  @media screen and (max-width: 900px){
    .navbar-nav{
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: -5px;
      left: 0;
      min-width: calc(20px + 2vmin);
      transition: transform 0.3s ease-in-out;
      transform: translateY(-10px);
      opacity: 1;
      z-index: 1000;
    }

    .navbar-brand {
      color: #fff !important;
      font-family: 'Minecraft2';
      font-size: calc(20px + 2vmin);
      margin-left: 15%;
      top: 40%;
    }

    .nav-link{
      font-style: bold;
      background-color: #FAC264;
      border-radius: 10px;
      right: 13%;
      margin: 4px;
      padding: 8px;
    }
    
  }