.progress-container{
    height: 50%;
}

.progress{
    margin-top: 25px;
    background-color: #414fec;
    max-width: 100%;
    margin-left: 20%;
    margin-bottom: 100px;
    max-height: 30%;
  }
  
  .progress-bar{
    background-color: #FAC264;
    border-radius: 10px;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.cat-progress-asset{
    width: 50%;
}