.progress{
    height: 15%;
    max-width: 300%;
    background-color: #F2EDDA;
    border-width:10px; 
    border-color: #FAC264;
}

.progress-bar{
    background-color:#FAC264;
    width: 100%;
}

.cat-progress{
    width: 35%;
}